<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gp.shifa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.gp.shifa.BaseApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.gp.shifa.ui.scanner.ScannerActivity" />
        <activity
            android:name="com.gp.shifa.ui.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- handle website links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alaqaria.page.link"
                    android:scheme="http" />
                <data
                    android:host="alaqaria.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gp.shifa.ui.user.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.adding_ad.ad_location.AdLocationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.gp.shifa.ui.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.intro.IntroActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
            android:name="com.gp.shifa.ui.user.complete_profile.CompleteProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.user.register.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.user.verify_account.VerifyAccountActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.privacy_policy.PrivacyPolicyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.user.forgot_password.ForgotPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.user.reset_password.ResetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.error_handler.ErrorHandlerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.user.verify_code.VerifyCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.select_language.SelectLanguageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.chat.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.edit_profile.EditProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.member_profile.MemberProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.adding_ad.add_ad_terms.AddAdTermsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.adding_ad.select_ad_category.SelectAdCategoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.adding_ad.ad_fees_info.AdFeesInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.adding_ad.add_ad_images.AddAdImagesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.terms.TermsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.property_details.PropertyDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.search.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.adding_ad.add_ad_details.AddAdDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.adding_ad.add_ad_info_desc.AddAdInfoDescActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.adding_order.AddingOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.about.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.faqs.FAQsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.contact_us.ContactUsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.mobile_search.MobileSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.profile.MyProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gp.shifa.ui.packages.PackagesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.camera.Camera1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.camera2.Camera2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.preview.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name="com.gp.shifa.ui.media.MediaActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <service
            android:name="com.gp.shifa.utils.notification_service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- this meta data defines the default specs of the notification -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>